services:
  app:
    image: abidfamasya/squirrellm:latest
    ports: 
      - 3000:3000
    environment:
      - REDIS_URL=redis://redis:6379
    env_file:
      - .env
    volumes:
      - ./data:/app/squirrellm.sqlite

  redis:
    image: redis:7.2.7-alpine
